# Apify storage
apify_storage

# Dependencies
node_modules

# IDE
.idea
.vscode
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env

# Test files
*.test.js
coverage